/* CourtDetailComponent.css */

.court-detail-container {
    padding: 20px;
    background-color: #F0F0F0;
  }
  
  .court-detail-card {
    border-radius: 12px;
    border: none;
    padding: 20px;
    background-color: #F0F0F0;
  }

  img {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  
  .court-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .image-gallery {
    display: flex;
    gap: 10px;
    margin-top: 15px;
  }
  
  .gallery-thumbnail {
    width: 80px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .view-more-btn {
    margin-left: 10px;
    font-size: 14px;
    align-self: center;
  }
  
  .court-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
  
  .badge-container {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .court-badge {
    font-size: 14px;
    border-radius: 30px;
    padding: 5px 10px;
    border: 1px solid #2D70A1;
    color: #2D70A1;
  }
  
  .court-details h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .icon {
    margin-right: 8px;
    color: #999;
    vertical-align: middle;
  }
  
  .price-text {
    color: #059A8F;
    font-weight: bold;
    font-size: 20px;
  }
  
  .slot-selection {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }

  .slot-selection button {
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 14px;
  }
  
  .register-btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px 0;
    background-color: #2D70A1;
    border-color: #2D70A1;
    border-radius: 100px;
  }
  
  p {
    font-size: 14px;
    color: #555;
  }

  .card-text {
    text-align: left;
  }
  
  .text-location {
    
  }

  
@media (max-width: 430px) {

}
