.participation-section {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .text-center {
    margin-bottom: 20px;
  }
  
  .participation-content {
    display: flex;
    align-items: center;
  }
  
  .left-section {
    padding: 0px;
    margin: 0%;
    border: 0%;

  }
  
  .highlight {
    color: #00bfa5; /* Adjust the highlight color as needed */
  }
  
  .feature-list {
    margin-top: 20px;
  }
  
  .feature-item {
    display: flex;
    align-items: flex-start;
  }
  
  .icon {
    font-size: 35px;
    color: #00bfa5;
    margin-right: 15px;
  }
  
  .right-section {
    padding: 0px;
    margin: 0%;
    border: 0%;
  }
  
  .image-container {
    position: relative;
    
  }
  
  .participation-image {
    height: 80%;
    width: 80%;
    border-radius: 10px;
  }
  
  .image-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    margin: 10%;
  }
  
  .participation-button {
    margin-top: 10px;
    margin-right: 10px;
  }

  .white-button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255); /* Tạo viền đen hoặc màu bạn muốn */
    margin-top: 10px;
    margin-right: 10px;
  }
  