/* src/components/PasswordRecovery.css */
.password-recovery-container {
    display: flex;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .password-recovery-image img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .password-recovery-form {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .password-recovery-form form {
    display: flex;
    flex-direction: column;
  }
  
  .password-recovery-form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .password-recovery-form input {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .password-recovery-form button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .password-recovery-form button:hover {
    background-color: #0056b3;
  }
  